@using QLSVNoiTru.Database;
@{
    ViewBag.Title = "Thông tin thiết bị";
    List<KyLuat> kyluats = (List<KyLuat>)ViewData["kyluats"];
}
<script>
    $("#PHONG").addClass("active");
</script>
<style>
    .img-thietbi {
        max-width: 60px;
        border: 1px solid #dcdcdc;
        padding: 2px;
    }
</style>
<div class="body">
    <section class="content">
        <div class="header">
            <div class="col-md-12">
                <h4 class="header-title">Thông tin kỷ luật</h4>
                <button onclick="them()" class="btn btn-primary pull-right" style="margin-top: 10px;">Thêm mới</button>
            </div>
        </div>
        <!-- CONTENT -->
        <div class="main-content">
            <div class="row">
                <div class="col-md-12">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-hover datatable">
                        <thead>
                            <tr>
                                <th>Mức độ</th>
                                <th>Tên kỷ luật</th>
                                <th style="width: 120px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in kyluats)
                            {
                                <tr>
                                    <td>Mức độ @item.MucDo</td>
                                    <td>@item.TenKyLuat</td>
                                    <td class="text-center">
                                        <button onclick="chitiet('@item.MaKyLuat')" class="btn btn-primary btn-sm">Sửa</button>
                                        <button onclick="xacnhanxoa('@item.MaKyLuat')" class="btn btn-danger btn-sm">Xóa</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END: CONTENT -->
    </section>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Thêm thông tin kỷ luật</h4>
            </div>
            <form id="form-submit" action="" method="post">
                <input type="hidden" name="MaKyLuat" value="" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Mức độ <span class="required-field">(*)</span></label>
                                <select name="MucDo" class="form-control">
                                    <option value="1">Mức 1</option>
                                    <option value="2">Mức 2</option>
                                    <option value="3">Mức 3</option>
                                    <option value="4">Mức 4</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Tên kỷ luật <span class="required-field">(*)</span></label>
                                <input required name="TenKyLuat" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Cảnh báo</h4>
            </div>
            <div class="modal-body">
                <h4>Bạn có chắc chắn muốn xóa bản ghi này?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <a id="xoa_banghi" href="" class="btn btn-danger">Xóa</a>
            </div>
        </div>
    </div>
</div>
<script>
    var urlChiTiet = "/kyluat/ChiTiet?maKyLuat=";
    function them() {
        acceptSubmit = false;
        document.getElementsByName("MaKyLuat")[0].value = "";
        document.getElementsByName("MucDo")[0].value = "1";
        document.getElementsByName("TenKyLuat")[0].value = "";
        $("#MaKyLuat").removeAttr("readonly");
        $("#form-submit").attr("action", "/kyluat/themmoi");
        $("#myModal").modal();
    }
    function xacnhanxoa(maKyLuat) {
        $("#xoa_banghi").attr("href", "/kyluat/xoa?maKyLuat=" + maKyLuat);
        $("#modalDelete").modal();
    }
    function chitiet(maKyLuat) {
        isThemMoi = false;
        $.get(urlChiTiet + maKyLuat, function (data) {
            document.getElementsByName("MaKyLuat")[0].value = data.MaKyLuat;
            document.getElementsByName("MucDo")[0].value = data.MucDo;
            document.getElementsByName("TenKyLuat")[0].value = data.TenKyLuat;
            $("#form-submit").attr("action", "/kyluat/capnhat");
            $("#MaKyLuat").attr("readonly", "readonly");
            $("#myModal").modal();
        });
    }
</script>